In [3]:
import pandas as pd
df = pd.read_csv('glassdoor_jobs.csv')

In [73]:
#SALARY PARSING
#  new column shows 1 if salary is provided hourly else 0
df['hourly'] = df['Salary Estimate'].apply(lambda x:1 if 'per hour' in x.lower() else 0)

# new column shows 1 if salary is employer provided else 0
df['employer provided'] = df['Salary Estimate'].apply(lambda x:1 if 'Employer provided salary:' in x.lower() else 0)

# seizing out all rows that had -1 in salary estimate column 
df = df[df['Salary Estimate']!='-1']

# taking out redundant text after the salary estimate
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0])

# taking out K's and $ signs
minus_KnDollars = salary.apply(lambda x: x.replace('K','').replace('$',''))

#taking out 'per hour' and 'employer provided salary' texts from the salary estimate column
min_hr = minus_KnDollars.apply(lambda x: x.lower().replace('per hour', '').replace('employer provided salary:', ''))

# making another column for integer min salary
df['min_salary'] = min_hr.apply(lambda x: int(x.split('-')[0]))

# making another column for integer max salary
df['max_salary'] = min_hr.apply(lambda x: int(x.split('-')[1]))

# calculating average salary in a bew column
df['average_salary'] =(df.min_salary+df.max_salary)/2

In [74]:
#COMPANY NAME TEXTS ONLY

#removed ratings from the company name
df['Company_text'] = df.apply(lambda x: x['Company Name'] if x['Rating']<0 else x['Company Name'][:-3], axis=1)

# a new column for state in which the job is made
df['job_state'] = df['Location'].apply(lambda x: x.split(',')[1])
df.job_state.value_counts()

In [79]:
# a column that shows 1 if the job is at the company headquarters
df['Job_at_HQ'] = df.apply(lambda x: 1 if x.Location==x.Headquarters else 0, axis =1)

#age of the company
df['company_age'] = df['Founded'].apply(lambda x: 2020-x if x>0 else x)

In [94]:
# JOB DESCRIPTION PARSING

#checking if python is mentioned in job description
df['python'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df.python.value_counts()

#checking if R is mentioned in job description
df['R_language'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() else 0)
df.R_language.value_counts()

#checking if spark is mentioned in job description
df['spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df.spark.value_counts()

#checking if aws is mentioned in job description
df['aws'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
df.aws.value_counts()

#checking if excel is mentioned in job description
df['excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df.excel.value_counts()
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employer provided', 'min salary', 'max salary', 'min_salary',
       'max_salary', 'average_salary', 'Company_text', 'job_state',
       'Job_at_HQ', 'company_age', 'python', 'R language', 'R_language',
       'spark', 'aws', 'excel'],
      dtype='object')

In [96]:
#dropping the first unnamed column
df = df.drop(['Unnamed: 0'], axis=1)

df_out_to_csv('salary_data_cleaned.csv', index=False)

pd.read_csv('salary_data_cleaned.csv')

In [100]:
display(df)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Company_text,job_state,Job_at_HQ,company_age,python,R language,R_language,spark,aws,excel
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Resear,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,Tecolote Res,NM,0,47,1,0,0,0,0,1
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical Syst,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,University of Maryland Medical S,MD,0,36,1,0,0,0,0,0
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowB,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,Kn,FL,1,10,1,0,0,1,0,1
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PN,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,,WA,1,55,1,0,0,0,0,0
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutio,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,Affinity Solu,NY,1,22,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,G,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,...,,MA,0,190,0,0,0,0,1,0
951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbri,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,...,Event,TN,0,14,1,0,0,1,1,0
952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institu,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,...,Software Engineering Inst,PA,1,36,0,0,0,0,0,1
953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, L","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,...,Numeric,PA,0,-1,0,0,0,0,0,1
955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institu,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,...,Riverside Research Inst,OH,0,53,1,0,0,0,0,0